.section.welcome-section {
  position: relative;
  z-index: 1;
  padding: 160px 0 120px;
  background-image: url('{{ site.BaseURL }}images/welcome-bg.jpg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;

  .welcome-content {
    span {
      font-family: archivo black,sans-serif;
      font-size: 30px;
      color: #4e6ef1;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 50px;
      margin-bottom: 35px;
    }

    p {
      margin-bottom: 40px;
    }
  }

  .hero-shape .shape {
    position: absolute;
    z-index: -1;

    &.shape-1 {
      top: -285px;
      right: -300px;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section.welcome-section {
    padding: 180px 0 140px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section.welcome-section {
    padding: 180px 0 140px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section.welcome-section .welcome-content {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .section.welcome-section .welcome-content {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section.welcome-section .welcome-content span {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section.welcome-section .welcome-content h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section.welcome-section .welcome-content h1 {
    font-size: 37px;
  }
}

@media (max-width: 767px) {
  .section.welcome-section .welcome-content h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .section.welcome-section .welcome-content h1 {
    font-size: 45px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section.welcome-section .welcome-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section.welcome-section .welcome-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section.welcome-section .welcome-img img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section.welcome-section .welcome-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .section.welcome-section .hero-shape .shape.shape-1 {
    top: -420px;
    right: -550px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section.welcome-section .hero-shape .shape.shape-1 {
    top: -400px;
    right: -550px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section.welcome-section .hero-shape .shape.shape-1 {
    display: none;
  }
}

@media (max-width: 767px) {
  .section.welcome-section .hero-shape .shape.shape-1 {
    display: none;
  }
}
